<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Foundation.AssetManagement.DependencyInjection.RegisterServices, Foundation.AssetManagement" />
    </services>
    <settings>
      <setting name="AssetManagement.Host" value="EXTERNAL_HOST" />
      <setting name="AssetManagement.SearchUrl" value="EXTERNAL_SEARCH_URL" />
      <setting name="AssetsManagement.RegionName" value="REGION_NAME" />
      <setting name="AssetsManagement.ServiceName" value="SERVICE_API" />
      <setting name="AssetsManagement.ContentType" value="application/json" />
      <setting name="AssetsManagement.SignedHeaders" value="content-type;host;x-amz-date" />
      <setting name="AssetsManagement.Algorithm" value="AWS4-HMAC-SHA256" />
      <setting name="AssetManagement.AccessKey" value="ACCESS_KEY" />
      <setting name="AssetManagement.SecretKey" value="SECRET_KEY" />
    </settings>
  </sitecore>
</configuration>
